# Python
*.pyc
*.pyo
__pycache__/

# Environment
.env
.env.*

# Virtual environment
env/
venv/
ENV/
.venv/

# Django files
db.sqlite3
staticfiles/
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional — only if you don’t want to track them)
# core/migrations/
